*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper{

}
#header{
    background-color: #1ABC9C;
    padding: 80px;
    text-align: center;
    color: white;
}
#header h1{
    font-size: 40px;
}
#header p{
}
nav{
    width: 100%;
}
#menu{
    width: 100%;
}
#menu ul{
    overflow: hidden;
    list-style-type: none;
    background-color: #333333;
}
#menu ul li{
    background-color: #333333;
    float: left;
}
#menu ul li:last-child{
    float: right;
}
#menu ul li a{
    text-decoration: none;
    color: white;
    padding: 15px 15px;
    display: block;
}
#menu ul li:hover a{
    background-color: #DDDDDD;
    color: black;
}
#content{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#aside_wrap{
    -ms-flex: 30%;
    flex: 30%;
    background-color: #F1F1F1;
    padding: 20px;
}
#aside{
    float: left;
}
#more_text{

}
#aside_more{
    margin: 10px auto;
    padding: 20px;
    background: #aaa;
    width: 100%;
    height: 60px;
}
#sec_wrap{
    -ms-flex: 70%;
    flex: 70%;
}
#section{
    float: left;
}
.article{

}
.article img{
    padding: 20px;
    background: #aaa;
    width: 100%;
}
footer{
    text-align: center;
    padding: 20px;
    background-color: #ddd;
}
@media screen and (max-width: 700px) {
    #sec_wrap, #aside_wrap{   
    width: 100%;
    }
}
h2{
    margin: 8px 4px;
}
p{
    margin: 8px 4px;
}